name: Raef's file downloader

on:
  schedule:
    - cron: "*/5 * * * *" # daily at 12:00 AM
  # you can add more here triggers see: https://docs.github.com/en/actions/using-workflows/triggering-a-workflow
  # example, it will run every day for the `main`

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      # checkout the branch
      uses: actions/checkout@v4
      
    # - name: git login
    #   run: |
    #     gh auth login --with-token < ./.github/workflows/my-token.txt
    
    # - run: echo "starting up the download"
    - name: Download File
      run: |
        curl "https://docs.google.com/spreadsheets/d/e/2PACX-1vTe-Bj4T4j5uz3Q0y61qholVuxuSLZCNB7Vm5iRl95_vW-4K3itucT-p5NuNLMaApNnYycDTc9JOb_t/pub?gid=1848819681&single=true&output=tsv" --output ./file.tsv
      # curl https://build5nines.com/folder/file.json --output ./file.json
      # working-directory: ${{ github.workspace }}

    - name: setup git config
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

    - name: commit
      run: |
        git add ./file.tsv
        git commit -m "new date commit"
        git push

      
    # - uses: actions4git/add-commit-push@v1.0.0
    # - run: git config --global user.name "${{ github.actor }}"
    # - run: git config --global user.email "${{ github.actor }}@users.noreply.github.com"
    # - run: git init
    # - run: git add file.json
    # - run: git commit -m 'Update downloaded file'
    # - run: git push
      
            
    # - name: Commit and Push Changes
    #   run: |
    #     git config --global user.name "${{ github.actor }}"
    #     git config --global user.email "${{ github.actor }}@users.noreply.github.com"

    #     git init
    #     git add file.json
    #     git commit -m 'Update downloaded file'
    #     git push
    
      # uses: actions/checkout@v4
    # - name: curl
    #   uses: sozo-design/curl@v1.0.2
    #   with:
    #     args: https://httpbin.org/get
        # args: https://docs.google.com/spreadsheets/d/e/2PACX-1vTe-Bj4T4j5uz3Q0y61qholVuxuSLZCNB7Vm5iRl95_vW-4K3itucT-p5NuNLMaApNnYycDTc9JOb_t/pub?gid=1848819681&single=true&output=tsv
